<main>
  <div id="search-section">
    <%= form_tag articles_search_path, method: :get, class: "search-form" do %>
      <%= text_field_tag(
          :search,
          params[:search],
          placeholder: "Search",
          class: "form-control"
      ) %>
      <br>
    <% end %>
  </div>

  <div id="keywords-container">
    <ul id="top-keywords-list"></ul>
  </div>

  <div class="content-container">
    <ul id="zone-list">
    </ul>
  </div>
</main>

<script id="template-visualization" type="text/x-handlebars-template">
	<li class="visualization-container">
    <div class="visualization">
      <div class="hotness">
        {{hotness}}
      </div>
    </div>
  </li>
</script>

<script id="template-zone" type="text/x-handlebars-template">
	<li class="zone">
    <ul class="keywords">
    </ul>
    <div class="article-summary">
      <h2 class="article-summary-title">{{title}}</h2>
      <p class="article-author">{{author}}</p>
      <p class="article-summary-body">{{lead_paragraph}}</p>
  		<a class="article-web-url" href="{{web_url}}">More</a>
    </div>
	</li>
</script>
