<div class="container">
  <%= image_tag "NoodleLogo.png", id: "logo" %>
  <%= tag("div", id: "search-section", data: params) %>

    <%= form_tag articles_search_path, method: :get, class: "search-form" do %>
      <%= text_field_tag(
          :search,
          params[:search],
          # placeholder: "search",
          class: "form-control"
      ) %>
      <br>
    <% end %>
    <h1 class="search-title">Search the News</h1>
  </div>

  <div id="search-indicator-container">
  </div>

  <div id="keywords-container">
    <ul id="top-keywords-list"></ul>
  </div>
</div>

<div id="visualization-container">
  <!-- selection div, with id="selection", goes here -->
  <div id="threejs">
  </div>
</div>

<div class="container">
  <div id="timeline-nav">
  </div>

  <div id="content-container">
  </div>

  <div id="minimap-container">
  </div>
</div>

<script id="template-visualization" type="text/x-handlebars-template">
	<li class="visualization-container">
    <div class="visualization">
      <div class="hotness">
        {{hotness}}
      </div>
    </div>
  </li>
</script>

<script id="template-zone" type="text/x-handlebars-template">
	<li class="zone">
    <div class="aside">
      <ul class="keywords">
      </ul>
      <div class="number-of-articles">
      </div>
    </div>
    <div class="article-summary">
      <h2 class="article-summary-title">{{title}}</h2>
      <p class="article-author">{{author}}</p>
      <p class="article-summary-body">{{lead_paragraph}}</p>
  		<a class="article-web-url" href="{{web_url}}">More</a>
    </div>
	</li>
</script>
