/*
  == BASE STYLES ==

  Applying a few base style rules to make the page look a little nicer.
*/

body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

p {
  margin: 0 0 16px;
}

p:last-child {
  margin-bottom: 0;
}

section {
  margin-bottom: 32px;
}

section h2 {
  margin: 0 0 12px;
}



/*
  == STYLING THE NAV ==

  Intro to floats. Moving the title to the left and the list items to the right.
*/

.nav-bar {
  background-color: white;
  color: black;
  overflow: hidden;
  height: 60px;
  padding: 0 30px;
}

.title {
  margin: 0;
  float: left;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 12px;
}


.nav-list {
  float: right;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  display: inline;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 12px;
}


/*
  == STYLING THE LAYOUT ==

  Creating a basic layout:
    - Header on the top, spanning all the way across the page
    - Aside on the left side, taking up 35% width
    - Main on the right side, taking up 65% width
    - Footer on the bottom, spanning all the way across the page
*/

main {
  width: 100%;
  float: left;
  padding: 30px;
}

.container {
  // @include outer-container;
  // overflow: hidden;
}

.container {
  @include outer-container;
  overflow: hidden;
  max-width: 1152px;
}

#search-section {
  margin: 0 auto;
  max-width: 768px;
}

#search {
  font-size: 3rem;
  font-weight: 100;
  color: #00c8ff;
  border-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: #ccc;

  &:hover {
    border-bottom-color: #00c8ff;
  }

  &:focus {
    border-bottom-color: #00c8ff;
  }
}

::-webkit-input-placeholder {
  font-size: 3rem;
  font-weight: 100;
  color: #ccc;
  text-align: center;
}

.visualization-container {
  width: 100%;
  padding: 40px;
}

.visualization {
  position: relative;
  margin: 0 auto;
  background-color: #00c8ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
}

.hotness {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
}

.zone {

  overflow: hidden;

  .keywords {
    @include span-columns(4);
    text-align: right;
    padding-right: 64px;
    font-size: 1.333333rem;
    font-weight: 400;
    color: #00c8ff;
  }
  .article-summary {
    @include span-columns(6);
    // overflow: hidden;
    padding-bottom: 60px;

    .article-summary-title {
      font-family: "Roboto Slab";
      font-size: 1.777777777rem;
      font-weight: 400;
    }

    .article-summary-body {
      font-weight: 300;
    }

    .article-web-url {
      font-size: .75rem;
      text-transform: uppercase;
      // float: right;
      color: #00c8ff;
    }
  }
}

/*
  == STYLING THE FOOTER ==

  Similar to the navbar, we want to pull some elements to the left side and
  some other elements to the right.
*/

footer {
  margin: 0px 30px;
  float: left;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 12px;
}
