#signup-container {
  @include outer-container;
  @include span-columns(4);
  @include shift(4);
  padding: 3rem;
  // border: 1px solid #fcfcfc;
}

h1.signup-title {
  font-size: 2.37rem;
  font-weight: 100;
  padding-bottom: 1.777777rem;
}

label {
  font-weight: 300;
}

input,
select,
textarea {
  border: none;
}

#{$all-text-inputs},
select[multiple] {
  border: none;
  border-bottom: 1px solid black;
}

.field {
  padding: 0;
  margin: 0;
}

div.action {
  padding-top: 1.777777rem;
}

.errors {
  font-weight: 300;
}

#{$all-buttons} {
  // border-radius: 0;
  @include span-columns(12);
  appearance: none;
  background-color: white;
  border: 1px solid black;
  border-radius: $base-border-radius;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
    border-color: shade($action-color, 20%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
