<!DOCTYPE html>
<html>
<head>
  <title>Newsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Fira Sans -->
  <link href='https://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet' type='text/css'>
  <!-- Roboto Slab -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
   <nav class="nav-bar">
      <div class="title">Newsy</div>
      <ul class="nav-list">
        <li class="nav-item">Sign Up</li>
        <li class="nav-item">Login</li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>

    <footer>
      <p class="copyright">Copyright.</p>
    </footer>
  </div>

</body>
</html>
